In [9]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

# John

## I decided to write a function that produces random bingo balls.

In [10]:
import random
def RandomBingoNumber():
    letter = random.choice('BINGO')
    if letter == 'B':
        number = str(random.randint(1,15))
    if letter == 'I':
        number = str(random.randint(16,30))
    if letter == 'N':
        number = str(random.randint(31,45))
    if letter == 'G':
        number = str(random.randint(46,60))
    if letter == 'O':
        number = str(random.randint(61,75))
    call = {letter:[number]}
    return call

#### Using this function and everything we have learned so far in this book, create a valid bingo card in the form of a data frame. The numbers on your card must be generated using the function above. There are simpler ways to do this, but we going to do it the hard way. Output should look like this:

In [11]:
def BadBingoCardMaker():
    indexes = [0,1,2,3,4]
    columns = ['B','I','N','G','O']
    card = pd.DataFrame(index=indexes,columns=columns)
    complete = False
    while sum(card.count()) < 25:
        call = RandomBingoNumber()
        letter = list(call.keys())[0]
        number = call[letter][0]
        if card[letter].count() < 5 and not card[letter].isin([number]).any():
            card[letter][card[letter].count()] = number
    card['N'][2] = 'Free'
    return card
BadBingoCardMaker()

    B   I     N   G   O
0  12  20    45  50  69
1   4  30    35  59  73
2  10  25  Free  52  68
3  11  17    39  47  71
4   1  29    41  48  64

# Min-Yao

### Using the same data from last week. (Import my RNA-Seq CPM data from 'Expression Browser_CPM_practice.xlsx' file. Expression Browser_CPM_practice.xlsx) Please used your formated DataFrame from last week with hierarchical indexing.

### We are going to use the average of gene expressions for further analysis.

### First, please calculate the average expression level of each gene in different genotypes and treatments combination.

### Second, please make a new DataFrame of these mean of gene experssions with hierarchical indexing.

In [4]:
xlsx = pd.ExcelFile('HW7/Expression Browser_CPM_practice.xlsx')
RNASeq = pd.read_excel(xlsx, 'Expression Browser_CPM')
RNASeq.head()
RNASeq = RNASeq.set_index('Name')
RNASeq.head()
RNASeq_col_list = RNASeq.columns.tolist()
RNASeq_col_list
RNASeq_column = pd.DataFrame(RNASeq_col_list)
RNASeq_column
RNASeq_column2 = RNASeq_column[0].apply(lambda x: pd.Series(list(x.replace('_',''))))
RNASeq_column2
RNASeq_column3 = RNASeq_column2.drop(columns=[3])
RNASeq_column3
multiindex_column = pd.MultiIndex.from_frame(RNASeq_column3)
multiindex_column
RNASeq.columns = multiindex_column
RNASeq.head()
RNASeq.columns.names = ['genotype', 'treatments', 'sample_number']
RNASeq.head()

genotype                  6                                              \
treatments                c
sample_number             1          2          3          4          5
Name
Solyc00g005000.3   0.000000   0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1   0.000000   0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3   0.000000   0.136237   0.000000   0.000000   0.000000
Solyc00g005050.3  49.947944  50.680249  42.857629  46.142383  40.925485
Solyc00g005055.1   0.000000   0.000000   0.000000   0.000000   0.000000

genotype                                                                ...  \
treatments                                      t                       ...
sample_number             6          7          1         2          3  ...
Name                                                                    ...
Solyc00g005000.3   0.000000   0.000000   0.000000   0.00000   0.000000  ...
Solyc00g005005.1   0.000000   0.000000   0.000000   0.00000   0.000000  ...
Solyc00g005040.3   0.000000   0.000000   0.075741   0.30310   0.000000  ...
Solyc00g005050.3  49.050587  49.010294  47.224546  42.28247  50.970454  ...
Solyc00g005055.1   0.000000   0.000000   0.000000   0.00000   0.000000  ...

genotype                  3          2                                 \
treatments                t          c
sample_number             5          1         2         3          4
Name
Solyc00g005000.3   0.000000   0.000000   0.00000   0.00000   0.000000
Solyc00g005005.1   0.000000   0.000000   0.00000   0.00000   0.000000
Solyc00g005040.3   0.000000   0.000000   0.00000   0.00000   0.000000
Solyc00g005050.3  46.069768  39.626619  33.60176  38.84896  28.487619
Solyc00g005055.1   0.000000   0.000000   0.00000   0.00000   0.000000

genotype
treatments                           t
sample_number             5          1          2          3          4
Name
Solyc00g005000.3   0.000000   0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1   0.000000   0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3   0.000000   0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3  42.516459  47.526986  47.021348  51.069134  44.480035
Solyc00g005055.1   0.000000   0.000000   0.000000   0.000000   0.000000

[5 rows x 45 columns]

In [5]:
index_list = pd.DataFrame(RNASeq.index.tolist())
index_list
chromosome = index_list[0].apply(lambda x: x[5:7])
chromosome
solycID = pd.Series(RNASeq.index)
solycID
newRNASeq = RNASeq.set_index([solycID, chromosome])
newRNASeq
newRNASeq.index.names = ['SolycID','chromosome']
newRNASeq

genotype                              6                                   \
treatments                            c
sample_number                         1          2          3          4
SolycID          chromosome
Solyc00g005000.3 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00            0.000000   0.136237   0.000000   0.000000
Solyc00g005050.3 00           49.947944  50.680249  42.857629  46.142383
Solyc00g005055.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005081.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00            0.000000   0.000000   0.000000   0.000000
...                                 ...        ...        ...        ...
Solyc12g100280.2 12            2.261794   1.907321   1.833481   2.454382
Solyc12g100290.2 12            9.612623   6.811861   5.042074   4.417888
Solyc12g100310.2 12           88.209955  72.069494  69.213925  87.866877
Solyc12g100300.2 12            0.753931   0.000000   1.145926   0.245438
Solyc12g100320.2 12           24.314282  25.340125  24.064444  28.225394
Solyc12g100330.2 12          108.943064  74.930476  70.589036  74.122338
Solyc12g100340.1 12            0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           10.178072   5.449489  11.230074  10.553843
Solyc12g100353.1 12           15.832556  14.441146   7.792296   9.326652
Solyc12g100357.1 12            3.581173   2.452270   0.916741   3.436135

genotype                                                                    \
treatments                                                               t
sample_number                         5          6           7           1
SolycID          chromosome
Solyc00g005000.3 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005005.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005040.3 00            0.000000   0.000000    0.000000    0.075741
Solyc00g005050.3 00           40.925485  49.050587   49.010294   47.224546
Solyc00g005055.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005060.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005080.2 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005081.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005082.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005084.1 00            0.000000   0.000000    0.000000    0.000000
...                                 ...        ...         ...         ...
Solyc12g100280.2 12            0.553047   3.046620    0.690286    1.969267
Solyc12g100290.2 12            3.318283   6.702565    6.074515    6.097155
Solyc12g100310.2 12          100.101524  91.703271  103.266761   91.684543
Solyc12g100300.2 12            0.000000   0.304662    0.276114    0.265094
Solyc12g100320.2 12           21.015790  26.505596   31.891206   24.653712
Solyc12g100330.2 12           83.510111  70.986253   83.524586  104.939227
Solyc12g100340.1 12            0.000000   0.000000    0.000000    0.000000
Solyc12g100350.2 12            6.083518   7.311889    8.145373    7.839199
Solyc12g100353.1 12           11.060942   5.483917    8.283430   12.459403
Solyc12g100357.1 12            1.106094   3.046620    1.932800    3.976405

genotype                                           ...          3          2  \
treatments                                         ...          t          c
sample_number                        2          3  ...          5          1
SolycID          chromosome                        ...
Solyc00g005000.3 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005040.3 00           0.303100   0.000000  ...   0.000000   0.000000
Solyc00g005050.3 00          42.282470  50.970454  ...  46.069768  39.626619
Solyc00g005055.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.000000  ...   0.305098   0.000000
Solyc00g005081.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000  ...   0.000000   0.000000
...                                ...        ...  ...        ...        ...
Solyc12g100280.2 12           0.757750   0.350312  ...   1.220391   4.627926
Solyc12g100290.2 12           5.607353   4.729217  ...   4.118820   7.375757
Solyc12g100310.2 12          72.289383  76.368104  ...  67.426615  90.244562
Solyc12g100300.2 12           0.303100   0.000000  ...   0.305098   0.144623
Solyc12g100320.2 12          17.882908  33.805147  ...  30.662329  21.259536
Solyc12g100330.2 12          70.773883  71.288574  ...  60.714463  93.860129
Solyc12g100340.1 12           0.000000   0.000000  ...   0.000000   0.000000
Solyc12g100350.2 12           9.396104  10.334216  ...   7.627445   6.941889
Solyc12g100353.1 12          10.456955  12.085778  ...   9.152934  15.185383
Solyc12g100357.1 12           3.485652   1.401250  ...   2.288234   4.049435

genotype                                                                 \
treatments
sample_number                        2          3          4          5
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          33.601760  38.848960  28.487619  42.516459
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           3.159140   2.404936   1.340594   0.812416
Solyc12g100290.2 12           4.020723   3.144916   4.580362   7.853359
Solyc12g100310.2 12          67.634312  78.807891  72.838931  86.928556
Solyc12g100300.2 12           0.430792   0.369990   0.558581   0.000000
Solyc12g100320.2 12          17.088075  22.754391  22.678379  25.726520
Solyc12g100330.2 12          58.013295  72.333064  83.675397  56.327538
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12          11.200587  11.839683   9.049008  11.373830
Solyc12g100353.1 12          12.492962  16.834550  11.841912   5.686915
Solyc12g100357.1 12           5.456696   6.289832   2.792904   1.083222

genotype
treatments                           t
sample_number                        1          2          3          4
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          47.526986  47.021348  51.069134  44.480035
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           0.258299   1.944492   1.480265   3.268501
Solyc12g100290.2 12           5.811724   5.303160   5.674348   4.263262
Solyc12g100310.2 12          61.475123  77.956445  84.868512  84.554698
Solyc12g100300.2 12           0.774897   0.000000   0.863488   0.852652
Solyc12g100320.2 12          28.671171  18.030742  18.626665  13.500330
Solyc12g100330.2 12          51.918066  58.865071  54.029663  60.964648
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12          14.981332   9.899231  11.225341  10.373938
Solyc12g100353.1 12           2.970437   8.308283   4.070728   8.100198
Solyc12g100357.1 12           2.970437   4.419300   1.973686   4.121153

[34879 rows x 45 columns]

In [6]:
newRNASeq.mean(level='genotype', axis=1)

newRNASeq.mean(level='treatments', axis=1)

newRNASeq_mean = newRNASeq.mean(level=['genotype','treatments'], axis=1)
newRNASeq_mean

genotype                             6                     5             \
treatments                           c          t          c          t
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.019462   0.087135   0.040735   0.009371
Solyc00g005050.3 00          46.944939  48.725621  41.627712  44.982716
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           1.820990   0.766522   1.856974   0.706583
Solyc12g100290.2 12           5.997116   4.547318   4.946920   5.261803
Solyc12g100310.2 12          87.490258  80.350687  82.750454  76.607351
Solyc12g100300.2 12           0.389439   0.381752   0.344976   0.226169
Solyc12g100320.2 12          25.908119  31.708529  20.708848  28.868453
Solyc12g100330.2 12          80.943695  74.901146  66.853058  73.830802
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           8.421751  10.220039   8.426465   9.751638
Solyc12g100353.1 12          10.317277  11.701935  12.644602  10.456012
Solyc12g100357.1 12           2.353119   2.784201   2.877574   1.945971

genotype                             3                     2
treatments                           c          t          c          t
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          43.037728  43.643387  36.616283  47.524375
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.061020   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           2.948182   1.991831   2.469002   1.737889
Solyc12g100290.2 12           6.973006   6.518793   5.395024   5.263123
Solyc12g100310.2 12          78.049053  72.531126  79.290850  77.213695
Solyc12g100300.2 12           0.323227   0.159763   0.300797   0.622759
Solyc12g100320.2 12          19.250824  23.091379  21.901380  19.707227
Solyc12g100330.2 12          70.007948  66.182795  72.841885  56.444362
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           7.977000   9.887595  10.080999  11.619961
Solyc12g100353.1 12           9.524438   8.166860  12.408344   5.862411
Solyc12g100357.1 12           3.680273   3.136039   3.934418   3.371144

[34879 rows x 8 columns]

In [16]:
newRNASeq_mean_column = pd.DataFrame(newRNASeq_mean.columns.tolist())
newRNASeq_mean_column

   0  1     2
0  6  c  mean
1  6  t  mean
2  5  c  mean
3  5  t  mean
4  3  c  mean
5  3  t  mean
6  2  c  mean
7  2  t  mean

In [17]:
newRNASeq_mean_column[2] = 'm'
newRNASeq_mean_column

   0  1  2
0  6  c  m
1  6  t  m
2  5  c  m
3  5  t  m
4  3  c  m
5  3  t  m
6  2  c  m
7  2  t  m

In [18]:
multiindex_mean_column = pd.MultiIndex.from_frame(newRNASeq_mean_column)
multiindex_mean_column

MultiIndex(levels=[['2', '3', '5', '6'], ['c', 't'], ['m']],
           codes=[[3, 3, 2, 2, 1, 1, 0, 0], [0, 1, 0, 1, 0, 1, 0, 1], [0, 0, 0, 0, 0, 0, 0, 0]],
           names=[0, 1, 2])

In [19]:
newRNASeq_mean.columns = multiindex_mean_column
newRNASeq_mean

0                                    6                     5             \
1                                    c          t          c          t
2                                    m          m          m          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.019462   0.087135   0.040735   0.009371
Solyc00g005050.3 00          46.944939  48.725621  41.627712  44.982716
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           1.820990   0.766522   1.856974   0.706583
Solyc12g100290.2 12           5.997116   4.547318   4.946920   5.261803
Solyc12g100310.2 12          87.490258  80.350687  82.750454  76.607351
Solyc12g100300.2 12           0.389439   0.381752   0.344976   0.226169
Solyc12g100320.2 12          25.908119  31.708529  20.708848  28.868453
Solyc12g100330.2 12          80.943695  74.901146  66.853058  73.830802
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           8.421751  10.220039   8.426465   9.751638
Solyc12g100353.1 12          10.317277  11.701935  12.644602  10.456012
Solyc12g100357.1 12           2.353119   2.784201   2.877574   1.945971

0                                    3                     2
1                                    c          t          c          t
2                                    m          m          m          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          43.037728  43.643387  36.616283  47.524375
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.061020   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           2.948182   1.991831   2.469002   1.737889
Solyc12g100290.2 12           6.973006   6.518793   5.395024   5.263123
Solyc12g100310.2 12          78.049053  72.531126  79.290850  77.213695
Solyc12g100300.2 12           0.323227   0.159763   0.300797   0.622759
Solyc12g100320.2 12          19.250824  23.091379  21.901380  19.707227
Solyc12g100330.2 12          70.007948  66.182795  72.841885  56.444362
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           7.977000   9.887595  10.080999  11.619961
Solyc12g100353.1 12           9.524438   8.166860  12.408344   5.862411
Solyc12g100357.1 12           3.680273   3.136039   3.934418   3.371144

[34879 rows x 8 columns]

In [20]:
newRNASeq_mean.columns.names = ['genotype', 'treatments', 'sample_number']
newRNASeq_mean.head()

genotype                             6                     5             \
treatments                           c          t          c          t
sample_number                        m          m          m          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.019462   0.087135   0.040735   0.009371
Solyc00g005050.3 00          46.944939  48.725621  41.627712  44.982716
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

genotype                             3                     2
treatments                           c          t          c          t
sample_number                        m          m          m          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          43.037728  43.643387  36.616283  47.524375
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

### Third, please merge these 2 DataFrames together (add the mean of gene expressions to the formatted DataFrame.) Therefore, we will add 8 new columns with hierarchical indexing. Please order the columns, so the mean column will be at the end of each treatment instead of at the end of the whole file.

In [25]:
final_RNASeq = pd.merge(newRNASeq,newRNASeq_mean,left_index=True, right_index=True)
final_RNASeq

genotype                              6                                   \
treatments                            c
sample_number                         1          2          3          4
SolycID          chromosome
Solyc00g005000.3 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00            0.000000   0.136237   0.000000   0.000000
Solyc00g005050.3 00           49.947944  50.680249  42.857629  46.142383
Solyc00g005055.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005081.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00            0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00            0.000000   0.000000   0.000000   0.000000
...                                 ...        ...        ...        ...
Solyc12g100280.2 12            2.261794   1.907321   1.833481   2.454382
Solyc12g100290.2 12            9.612623   6.811861   5.042074   4.417888
Solyc12g100310.2 12           88.209955  72.069494  69.213925  87.866877
Solyc12g100300.2 12            0.753931   0.000000   1.145926   0.245438
Solyc12g100320.2 12           24.314282  25.340125  24.064444  28.225394
Solyc12g100330.2 12          108.943064  74.930476  70.589036  74.122338
Solyc12g100340.1 12            0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           10.178072   5.449489  11.230074  10.553843
Solyc12g100353.1 12           15.832556  14.441146   7.792296   9.326652
Solyc12g100357.1 12            3.581173   2.452270   0.916741   3.436135

genotype                                                                    \
treatments                                                               t
sample_number                         5          6           7           1
SolycID          chromosome
Solyc00g005000.3 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005005.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005040.3 00            0.000000   0.000000    0.000000    0.075741
Solyc00g005050.3 00           40.925485  49.050587   49.010294   47.224546
Solyc00g005055.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005060.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005080.2 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005081.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005082.1 00            0.000000   0.000000    0.000000    0.000000
Solyc00g005084.1 00            0.000000   0.000000    0.000000    0.000000
...                                 ...        ...         ...         ...
Solyc12g100280.2 12            0.553047   3.046620    0.690286    1.969267
Solyc12g100290.2 12            3.318283   6.702565    6.074515    6.097155
Solyc12g100310.2 12          100.101524  91.703271  103.266761   91.684543
Solyc12g100300.2 12            0.000000   0.304662    0.276114    0.265094
Solyc12g100320.2 12           21.015790  26.505596   31.891206   24.653712
Solyc12g100330.2 12           83.510111  70.986253   83.524586  104.939227
Solyc12g100340.1 12            0.000000   0.000000    0.000000    0.000000
Solyc12g100350.2 12            6.083518   7.311889    8.145373    7.839199
Solyc12g100353.1 12           11.060942   5.483917    8.283430   12.459403
Solyc12g100357.1 12            1.106094   3.046620    1.932800    3.976405

genotype                                           ...          2             \
treatments                                         ...          t
sample_number                        2          3  ...          3          4
SolycID          chromosome                        ...
Solyc00g005000.3 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005040.3 00           0.303100   0.000000  ...   0.000000   0.000000
Solyc00g005050.3 00          42.282470  50.970454  ...  51.069134  44.480035
Solyc00g005055.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000  ...   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000  ...   0.000000   0.000000
...                                ...        ...  ...        ...        ...
Solyc12g100280.2 12           0.757750   0.350312  ...   1.480265   3.268501
Solyc12g100290.2 12           5.607353   4.729217  ...   5.674348   4.263262
Solyc12g100310.2 12          72.289383  76.368104  ...  84.868512  84.554698
Solyc12g100300.2 12           0.303100   0.000000  ...   0.863488   0.852652
Solyc12g100320.2 12          17.882908  33.805147  ...  18.626665  13.500330
Solyc12g100330.2 12          70.773883  71.288574  ...  54.029663  60.964648
Solyc12g100340.1 12           0.000000   0.000000  ...   0.000000   0.000000
Solyc12g100350.2 12           9.396104  10.334216  ...  11.225341  10.373938
Solyc12g100353.1 12          10.456955  12.085778  ...   4.070728   8.100198
Solyc12g100357.1 12           3.485652   1.401250  ...   1.973686   4.121153

genotype                             6                     5             \
treatments                           c          t          c          t
sample_number                        m          m          m          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.019462   0.087135   0.040735   0.009371
Solyc00g005050.3 00          46.944939  48.725621  41.627712  44.982716
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           1.820990   0.766522   1.856974   0.706583
Solyc12g100290.2 12           5.997116   4.547318   4.946920   5.261803
Solyc12g100310.2 12          87.490258  80.350687  82.750454  76.607351
Solyc12g100300.2 12           0.389439   0.381752   0.344976   0.226169
Solyc12g100320.2 12          25.908119  31.708529  20.708848  28.868453
Solyc12g100330.2 12          80.943695  74.901146  66.853058  73.830802
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           8.421751  10.220039   8.426465   9.751638
Solyc12g100353.1 12          10.317277  11.701935  12.644602  10.456012
Solyc12g100357.1 12           2.353119   2.784201   2.877574   1.945971

genotype                             3                     2
treatments                           c          t          c          t
sample_number                        m          m          m          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          43.037728  43.643387  36.616283  47.524375
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005060.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005080.2 00           0.000000   0.061020   0.000000   0.000000
Solyc00g005081.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005082.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005084.1 00           0.000000   0.000000   0.000000   0.000000
...                                ...        ...        ...        ...
Solyc12g100280.2 12           2.948182   1.991831   2.469002   1.737889
Solyc12g100290.2 12           6.973006   6.518793   5.395024   5.263123
Solyc12g100310.2 12          78.049053  72.531126  79.290850  77.213695
Solyc12g100300.2 12           0.323227   0.159763   0.300797   0.622759
Solyc12g100320.2 12          19.250824  23.091379  21.901380  19.707227
Solyc12g100330.2 12          70.007948  66.182795  72.841885  56.444362
Solyc12g100340.1 12           0.000000   0.000000   0.000000   0.000000
Solyc12g100350.2 12           7.977000   9.887595  10.080999  11.619961
Solyc12g100353.1 12           9.524438   8.166860  12.408344   5.862411
Solyc12g100357.1 12           3.680273   3.136039   3.934418   3.371144

[34879 rows x 53 columns]

In [27]:
final_RNASeq0 = final_RNASeq.reindex(columns=list('6523'), level=0)
final_RNASeq0.head()

genotype                             6                                   \
treatments                           c
sample_number                        1          2          3          4
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.136237   0.000000   0.000000
Solyc00g005050.3 00          49.947944  50.680249  42.857629  46.142383
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

genotype                                                                 \
treatments                                                            t
sample_number                        5          6          7          1
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.075741
Solyc00g005050.3 00          40.925485  49.050587  49.010294  47.224546
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

genotype                                          ...          3             \
treatments                                        ...          c
sample_number                       2          3  ...          3          4
SolycID          chromosome                       ...
Solyc00g005000.3 00           0.00000   0.000000  ...   0.000000   0.000000
Solyc00g005005.1 00           0.00000   0.000000  ...   0.000000   0.000000
Solyc00g005040.3 00           0.30310   0.000000  ...   0.000000   0.000000
Solyc00g005050.3 00          42.28247  50.970454  ...  46.847964  39.520792
Solyc00g005055.1 00           0.00000   0.000000  ...   0.000000   0.000000

genotype                                                                 \
treatments                                      t
sample_number                        5          1          2          3
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          41.717089  47.565935  42.213223  40.112045
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

genotype
treatments                                                 c          t
sample_number                        4          5          m          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          42.255965  46.069768  43.037728  43.643387
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

[5 rows x 53 columns]

In [28]:
final_RNASeq1 = final_RNASeq0.reindex(columns=list('ct'), level=1)
final_RNASeq1.head()

genotype                             6                                   \
treatments                           c
sample_number                        1          2          3          4
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.136237   0.000000   0.000000
Solyc00g005050.3 00          49.947944  50.680249  42.857629  46.142383
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

genotype                                                                 \
treatments
sample_number                        5          6          7          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.019462
Solyc00g005050.3 00          40.925485  49.050587  49.010294  46.944939
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

genotype                                          ...          3             \
treatments                           t            ...          c
sample_number                        1         2  ...          3          4
SolycID          chromosome                       ...
Solyc00g005000.3 00           0.000000   0.00000  ...   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.00000  ...   0.000000   0.000000
Solyc00g005040.3 00           0.075741   0.30310  ...   0.000000   0.000000
Solyc00g005050.3 00          47.224546  42.28247  ...  46.847964  39.520792
Solyc00g005055.1 00           0.000000   0.00000  ...   0.000000   0.000000

genotype                                                                 \
treatments                                                 t
sample_number                        5          m          1          2
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          41.717089  43.037728  47.565935  42.213223
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

genotype
treatments
sample_number                        3          4          5          m
SolycID          chromosome
Solyc00g005000.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005005.1 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005040.3 00           0.000000   0.000000   0.000000   0.000000
Solyc00g005050.3 00          40.112045  42.255965  46.069768  43.643387
Solyc00g005055.1 00           0.000000   0.000000   0.000000   0.000000

[5 rows x 53 columns]

# Kae

### Using the merged babyname dataset we made last time (1996 and 1998), try stacking the data.

In [13]:
yob1996 = pd.read_csv('HW8/yob1996.csv', names = ['first_name','gender','number'])
yob1996.head()
yob1998 = pd.read_csv('HW8/yob1998.csv', names = ['first_name','gender','number'])
yob1998.head()
yob1996_1998 = pd.merge(yob1996, yob1998, on = 'first_name', how = 'outer',indicator=True)
yob1996_1998

      first_name gender_x  number_x gender_y  number_y      _merge
0          Emily        F   25144.0        F   26174.0        both
1          Emily        F   25144.0        M      38.0        both
2          Emily        M      34.0        F   26174.0        both
3          Emily        M      34.0        M      38.0        both
4        Jessica        F   24180.0        F   18229.0        both
5        Jessica        F   24180.0        M      30.0        both
6        Jessica        M      47.0        F   18229.0        both
7        Jessica        M      47.0        M      30.0        both
8         Ashley        F   23676.0        F   19865.0        both
9         Ashley        F   23676.0        M      78.0        both
...          ...      ...       ...      ...       ...         ...
36324   Zacharay      NaN       NaN        M       5.0  right_only
36325   Zacharry      NaN       NaN        M       5.0  right_only
36326   Zacheria      NaN       NaN        M       5.0  right_only
36327   Zackhary      NaN       NaN        M       5.0  right_only
36328     Zacory      NaN       NaN        M       5.0  right_only
36329     Zahkee      NaN       NaN        M       5.0  right_only
36330       Zaim      NaN       NaN        M       5.0  right_only
36331     Zayvon      NaN       NaN        M       5.0  right_only
36332     Zykeem      NaN       NaN        M       5.0  right_only
36333     Zyquan      NaN       NaN        M       5.0  right_only

[36334 rows x 6 columns]

In [14]:
yob_only = yob1996_1998[yob1996_1998['_merge'].str.contains("right_only|left_only")]
yob_only

      first_name gender_x  number_x gender_y  number_y      _merge
5979      Crisol        F      30.0      NaN       NaN   left_only
6254     Yamiles        F      29.0      NaN       NaN   left_only
6285     Chantay        F      28.0      NaN       NaN   left_only
7180      Maribi        F      23.0      NaN       NaN   left_only
7220     Rolonda        F      23.0      NaN       NaN   left_only
7439    Staphany        F      22.0      NaN       NaN   left_only
7453       Yilda        F      22.0      NaN       NaN   left_only
7796      Marili        F      20.0      NaN       NaN   left_only
7898     Accacia        F      19.0      NaN       NaN   left_only
7945     Chabeli        F      19.0      NaN       NaN   left_only
...          ...      ...       ...      ...       ...         ...
36324   Zacharay      NaN       NaN        M       5.0  right_only
36325   Zacharry      NaN       NaN        M       5.0  right_only
36326   Zacheria      NaN       NaN        M       5.0  right_only
36327   Zackhary      NaN       NaN        M       5.0  right_only
36328     Zacory      NaN       NaN        M       5.0  right_only
36329     Zahkee      NaN       NaN        M       5.0  right_only
36330       Zaim      NaN       NaN        M       5.0  right_only
36331     Zayvon      NaN       NaN        M       5.0  right_only
36332     Zykeem      NaN       NaN        M       5.0  right_only
36333     Zyquan      NaN       NaN        M       5.0  right_only

[10905 rows x 6 columns]

In [16]:
columns=pd.Index(['name','sex','count_x','count_y','_merge'])
columns

Index(['name', 'sex', 'count_x', 'count_y', '_merge'], dtype='object')

In [17]:
data=yob_only.reindex(columns=columns)
data

       name  sex  count_x  count_y      _merge
5979    NaN  NaN      NaN      NaN   left_only
6254    NaN  NaN      NaN      NaN   left_only
6285    NaN  NaN      NaN      NaN   left_only
7180    NaN  NaN      NaN      NaN   left_only
7220    NaN  NaN      NaN      NaN   left_only
7439    NaN  NaN      NaN      NaN   left_only
7453    NaN  NaN      NaN      NaN   left_only
7796    NaN  NaN      NaN      NaN   left_only
7898    NaN  NaN      NaN      NaN   left_only
7945    NaN  NaN      NaN      NaN   left_only
...     ...  ...      ...      ...         ...
36324   NaN  NaN      NaN      NaN  right_only
36325   NaN  NaN      NaN      NaN  right_only
36326   NaN  NaN      NaN      NaN  right_only
36327   NaN  NaN      NaN      NaN  right_only
36328   NaN  NaN      NaN      NaN  right_only
36329   NaN  NaN      NaN      NaN  right_only
36330   NaN  NaN      NaN      NaN  right_only
36331   NaN  NaN      NaN      NaN  right_only
36332   NaN  NaN      NaN      NaN  right_only
36333   NaN  NaN      NaN      NaN  right_only

[10905 rows x 5 columns]

In [18]:
ldata=data.stack().reset_index().rename(columns={0:'namestats'})
ldata

       level_0 level_1   namestats
0         5979  _merge   left_only
1         6254  _merge   left_only
2         6285  _merge   left_only
3         7180  _merge   left_only
4         7220  _merge   left_only
5         7439  _merge   left_only
6         7453  _merge   left_only
7         7796  _merge   left_only
8         7898  _merge   left_only
9         7945  _merge   left_only
...        ...     ...         ...
10895    36324  _merge  right_only
10896    36325  _merge  right_only
10897    36326  _merge  right_only
10898    36327  _merge  right_only
10899    36328  _merge  right_only
10900    36329  _merge  right_only
10901    36330  _merge  right_only
10902    36331  _merge  right_only
10903    36332  _merge  right_only
10904    36333  _merge  right_only

[10905 rows x 3 columns]

# Rie