In [1]:
a = [1, 2, 3]

In [2]:
b = a

In [3]:
a.append(4)

In [4]:
b

[1, 2, 3, 4]

In [8]:
def append_element(some_list, element):
    some_list.append(element)

In [9]:
data = [1, 2, 3]

In [10]:
append_element(data, 4)

In [11]:
data

[1, 2, 3, 4]

In [12]:
a = 5

In [13]:
type(a)

int

In [14]:
a = 'foo'

In [15]:
type(a)

str

In [16]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [4]:
a = 4.5

In [5]:
b = 2

In [6]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [7]:
a / b

2.25

In [8]:
a = 5; b = 4.5

In [9]:
isinstance(a, int)

True

In [10]:
isinstance(b, (int, float))

True

In [11]:
a = 'foo'

In [12]:
getattr(a, 'split')

In [13]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [14]:
isiterable('a string')

True

In [15]:
isiterable([1, 2, 3])

True

In [16]:
isiterable(5)

False

In [17]:
if not isinstance(x, list) and isiterable(x):
    x = list(x)

NameError: name 'x' is not defined

In [18]:
# some_module.py
PI = 3.14159
def f(x):
    return x + 2
def g(a, b):
    return a + b

In [19]:
import some_module
result = some_module.f(5)
pi = some_module.PI

In [20]:
from some_module import f, g, PI
result = g(5, PI)

In [21]:
import some_module as sm
from some_module import PI as pi, g as gf
r1 = sm.f(pi)
r2 = gf(6, pi)

In [22]:
PI

3.14159

In [23]:
f

In [24]:
g

In [25]:
pi

3.14159

In [26]:
r1

5.14159

In [27]:
r2

9.14159

In [28]:
5-7

-2

In [29]:
12 + 21.5

33.5

In [30]:
5 <= 2

False

In [31]:
a = [1, 2, 3]

In [32]:
b = a

In [33]:
c = list(a)

In [34]:
a is b

True

In [35]:
a is not c

True

In [36]:
a == c

True

In [37]:
a = None

In [38]:
a is None

True

In [1]:
a_list = ['foo', 2, [4, 5]]

In [2]:
a_list[2] = (3, 4)

In [3]:
a_list

['foo', 2, (3, 4)]

In [4]:
a_tuple = (3, 5, (4, 5))

In [5]:
 a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [6]:
ival = 17239871

In [7]:
ival ** 6

26254519291092456596965462913230729701102721

In [8]:
fval = 7.243

In [9]:
fval

7.243

In [10]:
fval2 = 6.78e-5

In [11]:
fval2

6.78e-05

In [12]:
3 / 2

1.5

In [13]:
3 // 2

1

In [14]:
a = 'one way of writing a string'

In [15]:
b = "another way"

In [16]:
a

'one way of writing a string'

In [17]:
c = """
This is a longer string that
spans multiple lines
"""

In [18]:
c

'\nThis is a longer string that\nspans multiple lines\n'

In [19]:
c.count('\n')

3

In [20]:
a = 'this is a string'

In [21]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [22]:
b = a.replace('string', 'longer string')

In [23]:
b

'this is a longer string'

In [24]:
a

'this is a string'

In [25]:
a = 5.6

In [26]:
s = str(a)

In [27]:
print(s)

5.6

In [28]:
s = 'python'

In [29]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [30]:
s[:3]

'pyt'

In [31]:
s = '12\\34'

In [32]:
s

'12\\34'

In [33]:
print(s)

12\34

In [34]:
s = r'this\has\no\special\characters'

In [35]:
s

'this\\has\\no\\special\\characters'

In [36]:
a = 'this is the first half '

In [37]:
b = 'and this is the second half'

In [38]:
a + b

'this is the first half and this is the second half'

In [39]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [40]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [41]:
val = "español"

In [42]:
val

'español'

In [43]:
val_utf8 = val.encode('utf-8')

In [44]:
val_utf8

b'espa\xc3\xb1ol'

In [45]:
type(val_utf8)

bytes

In [46]:
val_utf8.decode('utf-8')

'español'

In [47]:
val.encode('latin1')

b'espa\xf1ol'

In [48]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [49]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [50]:
bytes_val = b'this is bytes'

In [51]:
bytes_val

b'this is bytes'

In [52]:
decoded = bytes_val.decode('utf8')

In [53]:
decoded

'this is bytes'

In [54]:
True and True

True

In [55]:
False or True

True

In [56]:
s = '3.14159'

In [57]:
fval = float(s)

In [58]:
type(fval)

float

In [59]:
int(fval)

3

In [60]:
bool(fval)

True

In [61]:
bool(0)

False

In [62]:
a = None

In [63]:
a is None

True

In [64]:
b = 5

In [65]:
b is not None

True

In [66]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    if c is not None:
        result = result * c
    return result

In [68]:
add_and_maybe_multiply(1, 2, 3)

9

In [69]:
type(None)

NoneType

In [70]:
from datetime import datetime, date, time

In [71]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [72]:
dt.day

29

In [73]:
dt.minute

30

In [74]:
dt.date()

datetime.date(2011, 10, 29)

In [75]:
dt.time()

datetime.time(20, 30, 21)

In [76]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [77]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [78]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [79]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [80]:
delta = dt2 - dt

In [81]:
delta

datetime.timedelta(days=17, seconds=7179)

In [82]:
type(delta)

datetime.timedelta

In [83]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [84]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [86]:
if x < 0:
    print("It's negative")
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

NameError: name 'x' is not defined

In [91]:
a = 5; b = 7

In [92]:
c = 8; d = 21

In [93]:
if a < b or c > d:
    print('Made it')

Made it

In [96]:
4 > 3 > 2 > 1

True

In [97]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [98]:
total_until_5

13

In [99]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

In [100]:
total

12

In [101]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [102]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x #total = total + x
    x = x // 2

In [103]:
total

504

In [104]:
x

4

In [111]:
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

positive!

In [110]:
x = 1

In [112]:
range(10)

range(0, 10)

In [113]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [115]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [116]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [117]:
val

4

In [118]:
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

In [119]:
sum

2333316668

In [121]:
x = 5

In [122]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

(4, None, 'foo', 6, 0, 'bar')