In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [15]:
tup = (4, 5, 6)

In [16]:
a, b, c = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6, 7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

In [21]:
a, b = 1, 2

In [22]:
a

1

In [23]:
b

2

In [24]:
b, a = a, b

In [25]:
a

2

In [26]:
b

1

In [27]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [29]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [30]:
values = 1, 2, 3, 4, 5

In [31]:
a, b, *rest = values

In [32]:
a, b

(1, 2)

In [33]:
rest

[3, 4, 5]

In [34]:
a, b, *_ = values

In [35]:
a = (1, 2, 2, 2, 3, 4, 2)

In [36]:
a.count(2)

4

In [37]:
a_list = [2, 3, 7, None]

In [38]:
tup = ('foo', 'bar', 'baz')

In [39]:
b_list = list(tup)

In [40]:
b_list

['foo', 'bar', 'baz']

In [41]:
b_list[1] = 'peekaboo'

In [42]:
b_list

['foo', 'peekaboo', 'baz']

In [43]:
gen = range(10)

In [44]:
gen

range(0, 10)

In [45]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
b_list.append('dwarf')

In [47]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [48]:
b_list.insert(1, 'red')

In [49]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [50]:
b_list.pop(2)

'peekaboo'

In [51]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [52]:
b_list.append('foo')

In [53]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [54]:
b_list.remove('foo')

In [55]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [56]:
'dwarf' in b_list

True

In [57]:
'dwarf' not in b_list

False

In [58]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [59]:
x = [4, None, 'foo']

In [60]:
x.extend([7, 8, (2, 3)])

In [61]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [62]:
a = [7, 2, 5, 1, 3]

In [63]:
a.sort()

In [64]:
a

[1, 2, 3, 5, 7]

In [65]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [66]:
b.sort(key=len)

In [67]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [68]:
import bisect

In [69]:
c = [1, 2, 2, 2, 3, 4, 7]

In [70]:
bisect.bisect(c, 2)

4

In [71]:
bisect.bisect(c, 5)

6

In [72]:
bisect.insort(c, 6)

In [73]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [74]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [75]:
seq[1:5]

[2, 3, 7, 5]

In [76]:
seq[3:4] = [6, 3]

In [77]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [78]:
seq[:5]

[7, 2, 3, 6, 3]

In [79]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [80]:
seq[-4:]

[5, 6, 0, 1]

In [81]:
 seq[-6:-2]

[6, 3, 5, 6]

In [82]:
seq[::2]

[7, 3, 3, 6, 1]

In [83]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [84]:
some_list = ['foo', 'bar', 'baz']

In [85]:
mapping = {}

In [86]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [87]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [88]:
some_list = ['foo', 'bar', 'baz', 'baz']

In [89]:
mapping = {}

In [90]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [91]:
mapping

{'foo': 0, 'bar': 1, 'baz': 3}

In [92]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [93]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [94]:
seq1 = ['foo', 'bar', 'baz']

In [95]:
seq2 = ['one', 'two', 'three']

In [96]:
zipped = zip(seq1, seq2)

In [97]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [98]:
seq3 = [False, True]

In [99]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [101]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [102]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]

In [103]:
first_names, last_names = zip(*pitchers)

In [104]:
first_names

('Nolan', 'Roger', 'Schilling')

In [105]:
last_names

('Ryan', 'Clemens', 'Curt')

In [106]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# dict

In [1]:
empty_dict = {}

In [2]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [3]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [4]:
d1[7] = 'an integer'

In [6]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [7]:
d1['b']

[1, 2, 3, 4]

In [8]:
'b' in d1

True

In [9]:
d1[5] = 'some value'

In [10]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [11]:
'b' in d1

True

In [12]:
d1[5] = 'some value'

In [13]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [14]:
d1['dummy'] = 'another value'

In [15]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [16]:
del d1[5]

In [17]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [18]:
ret = d1.pop('dummy')

In [19]:
ret

'another value'

In [20]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [21]:
list(d1.keys())

['a', 'b', 7]

In [22]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [23]:
 d1.update({'b' : 'foo', 'c' : 12})

In [24]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

## Creating dicts from sequences

In [25]:
mapping = dict(zip(range(5), reversed(range(5))))

In [26]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

## Default values

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

value = some_dict.get(key, default_value)

In [27]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [28]:
by_letter = {}

In [29]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [30]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

## Valid dict key types

In [31]:
hash('string')

7429223548145303989

In [32]:
hash((1, 2, (2, 3)))

1097636502276347782

In [33]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [34]:
d = {}

In [35]:
d[tuple([1, 2, 3])] = 5

In [36]:
d

{(1, 2, 3): 5}

# set

In [1]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [2]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [3]:
a = {1, 2, 3, 4, 5}

In [4]:
b = {3, 4, 5, 6, 7, 8}

In [5]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
a.intersection(b)

{3, 4, 5}

In [8]:
a & b

{3, 4, 5}

In [9]:
c = a.copy()

In [10]:
c |= b

In [11]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
d = a.copy()

In [13]:
d &= b

In [14]:
d

{3, 4, 5}

In [15]:
my_data = [1, 2, 3, 4]

In [16]:
my_set = {tuple(my_data)}

In [17]:
my_set

{(1, 2, 3, 4)}

In [18]:
a_set = {1, 2, 3, 4, 5}

In [19]:
{1, 2, 3}.issubset(a_set)

True

In [20]:
a_set.issuperset({1, 2, 3})

True

In [21]:
{1, 2, 3} == {3, 2, 1}

True

# List, Set, and Dict Comprehensions

In [35]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [24]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [25]:
unique_lengths = {len(x) for x in strings}

In [26]:
unique_lengths

{1, 2, 3, 4, 6}

In [27]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [28]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [29]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

## Nested list comprehensions

In [31]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [33]:
result = [name for names in all_data for name in names
           if name.count('e') >= 2]

In [34]:
result

['Steven']

In [1]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [2]:
flattened = [x for tup in some_tuples for x in tup]

In [3]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [4]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# 3.2 Functions

## Namespaces, Scope, and Local Functions

In [5]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [6]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [9]:
a = None

In [10]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [11]:
print(a)

[]

## Returning Multiple Values

In [13]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()

In [14]:
return_value = f()

In [15]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

## Functions Are Objects

In [16]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [17]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [18]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [20]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [21]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [22]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

## Anonymous (Lambda) Functions

In [23]:
def short_function(x):
    return x * 2

In [24]:
equiv_anon = lambda x: x * 2

In [25]:
equiv_anon

In [26]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [27]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [28]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [29]:
strings.sort(key=lambda x: len(set(list(x))))

In [30]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## Currying: Partial Argument Application

In [31]:
def add_numbers(x, y):
    return x + y

In [32]:
add_five = lambda y: add_numbers(5, y)

In [33]:
from functools import partial
add_five = partial(add_numbers, 5)

## Generators

In [34]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [35]:
for key in some_dict:
    print(key)

a
b
c

In [36]:
dict_iterator = iter(some_dict)

In [37]:
dict_iterator

In [38]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [39]:
gen = squares()

In [40]:
gen

In [41]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

## Generator expresssions

In [42]:
gen = (x ** 2 for x in range(100))

In [43]:
gen

In [44]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [45]:
sum(x ** 2 for x in range(100))

328350

In [46]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## itertools module

In [47]:
import itertools

In [48]:
first_letter = lambda x: x[0]

In [49]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [50]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## Errors and Exception Handling

In [51]:
float('1.2345')

1.2345

In [52]:
float('something')

ValueError: could not convert string to float: 'something'

In [53]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [54]:
attempt_float('1.2345')

1.2345

In [55]:
attempt_float('something')

'something'

In [56]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [58]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [59]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [60]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [61]:
attempt_float((1, 2))

(1, 2)

f = open(path, 'w')
try:
    write_to_file(f)
finally:
    f.close()

f = open(path, 'w')
try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

## Exceptions in IPython

In [1]:
%run examples/ipython_bug.py

NameError: name 'works_fine' is not defined

# 3.3 Files and the Operating System

In [42]:
path = 'examples/segismundo.txt'

In [43]:
f = open(path)

In [44]:
for line in f:
    pass

In [45]:
lines = [x.rstrip() for x in open(path)]

In [46]:
lines

["'Sue簽a el rico en su riqueza,',",
 "'que m獺s cuidados le ofrece;',",
 "'',",
 "'sue簽a el pobre que padece',",
 "'su miseria y su pobreza;',",
 "'',",
 "'sue簽a el que a medrar empieza,',",
 "'sue簽a el que afana y pretende,',",
 "'sue簽a el que agravia y ofende,',",
 "'',",
 "'y en el mundo, en conclusi籀n,',",
 "'todos sue簽an lo que son,',",
 "'aunque ninguno lo entiende.',",
 "''"]

In [47]:
f.close()

In [48]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [49]:
f = open(path)

In [50]:
f.read(10)

"'Sue簽a el "

In [51]:
f2 = open(path, 'rb')

In [52]:
f2.read(10)

b"'Sue\xc3\xb1a el"

In [53]:
f.tell()

11

In [54]:
f2.tell()

10

In [55]:
import sys

In [56]:
sys.getdefaultencoding()

'utf-8'

In [57]:
f.seek(3)

3

In [58]:
f.read(1)

'e'

In [59]:
f.close()

In [60]:
f2.close()

In [61]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [62]:
with open('tmp.txt') as f:
    lines = f.readlines()

In [63]:
lines

["'Sue簽a el rico en su riqueza,',\n",
 "'que m獺s cuidados le ofrece;',\n",
 "'',\n",
 "'sue簽a el pobre que padece',\n",
 "'su miseria y su pobreza;',\n",
 "'',\n",
 "'sue簽a el que a medrar empieza,',\n",
 "'sue簽a el que afana y pretende,',\n",
 "'sue簽a el que agravia y ofende,',\n",
 "'',\n",
 "'y en el mundo, en conclusi籀n,',\n",
 "'todos sue簽an lo que son,',\n",
 "'aunque ninguno lo entiende.',\n",
 "''"]

## Bytes and Unicode with Files

In [64]:
with open(path) as f:
    chars = f.read(10)

In [65]:
chars

"'Sue簽a el "

In [66]:
with open(path, 'rb') as f:
    data = f.read(10)

In [67]:
data

b"'Sue\xc3\xb1a el"

In [68]:
data.decode('utf8')

"'Sueña el"

In [69]:
data[:4].decode('utf8')

"'Sue"

In [70]:
sink_path = 'sink.txt'

In [71]:
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

UnicodeEncodeError: 'latin-1' codec can't encode character '\u7c3d' in position 4: ordinal not in range(256)

In [72]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [73]:
f = open(path)

In [74]:
f.read(5)

"'Sue簽"

In [75]:
f.seek(4)

4

In [76]:
f.read(1)

'簽'

In [77]:
f.close()